/*  Here starts the "first things first" frame  */
.warmUpVideoFrame {
    color: white;
    width: 100%;
    background-color: black;
    animation: fadeOut 700ms;
}
.warmUpVideoFrame > h1 {
    color: white;
    text-align: center;
    padding: 25px;
}
.warmUpVideo {
    width: 90%;
    height: 274px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 25px;
}
.warmUpVideoFrame > i {
    display: none;
    position: relative;
    right: 41%;
    bottom: 7px;
    animation: bounce 400ms alternate-reverse infinite;
}
@media (min-width: 948px) {
    .warmUpVideoFrame {
        height: 60%;
    }
    .warmUpVideo {
        height: 80%;
    }
    .warmUpVideoFrame > i {
        bottom: 3px;
    }
}
@media (min-width: 1280px) {
    .warmUpVideoFrame {
        height: 100%;
    }
    .warmUpVideo {
        height: 87%;
    }
    .warmUpVideoFrame > i {
        display: inline-block;
        bottom: 1px;
    }
}
/*  Here starts the interface  */
#warmUpInterface {
    padding: 15px;
}
.backHomeButton {
    width: 130px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(45deg, #f700ff, #1eff00d7, #ff4242); 
    background-size: 500% 800%; 
    animation: bg 20s ease-in-out infinite alternate-reverse;
}
.backHomeButton:hover {
    background-color: black;
    transform: scale(1.1);
}
.backHomeButton:active {
    background-color: black;
    color: rgb(54, 54, 54);
    transform: scale(0.9);
}