.backHomeButton {
    width: 130px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(45deg, #f700ff, #1eff00d7, #ff4242); 
    background-size: 500% 800%; 
    animation: bg 20s ease-in-out infinite alternate-reverse;
}

/* #musicRoom {
    position: inherit;
} */

#warmUpInterface {





    position: absolute;
    z-index: 1000;





}
.warmUpVideoFade {
    color: white;





    position: fixed;






    top: 0;
    z-index: 999;
    width: 100%;
    background-color: black;
    animation: fadeOut 700ms;
}
.warmUpVideoFade > h1 {
    color: white;
    text-align: center;
    margin: 25px;
}
.warmUpVideo {
    width: 90%;
    height: 274px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 25px;
}
.warmUpVideoFade > i {
    position: relative;
    right: 41%;
    bottom: 7px;
    animation: bounce 400ms alternate-reverse infinite;
}
.fa-chevron-down {
    display: none;
}

@media (min-width: 948px) {
    .warmUpVideoFade {
        height: 60%;
    }
    .warmUpVideo {
        height: 80%;
    }
    .warmUpVideoFade > i {
        bottom: 3px;
    }
}
@media (min-width: 1280px) {
    .warmUpVideoFade {
        height: 100%;
    }
    .warmUpVideo {
        height: 87%;
    }
    .warmUpVideoFade > i {
        bottom: 1px;
    }
    .fa-chevron-down {
        display: inline-block;
    }
}